
	<script id="orgRow" type="text/html">
		<td>{{id}}</td>
		<td>{{name}}</td>
		<td>{{city}},{{state}}</td>
		<td>{{status}}</td>
		<td>{{dateCreated}}</td>
		<td><a href="#" onClick="showEditOrgModal('{{id}}')"><i class="fa fa-edit"></i></a></td>    
    </script>
    
    
    <script id="orgRowTR" type="text/html">
      <tr id="org{{id}}">
		<td>{{id}}</td>
		<td>{{name}}</td>
		<td>{{city}},{{state}}</td>
		<td>{{status}}</td>
		<td>{{dateCreated}}</td>
		<td><a href="#" onClick="showEditOrgModal('{{id}}')"><i class="fa fa-edit"></i></a></td>
     </tr>
    </script>
    
    