.panel-a {
    background-image: url(../images/wallet_large.jpg);
    background-repeat: no-repeat;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

#pink_corner {
 	top: 0;
    left: -745px;
    width: 777px;
    height: 667px;
    background-color: #de2461;
    position: absolute;
    -ms-transform: skewX(-8deg);
    -webkit-transform: skewX(-8deg);
    transform: skewX(-8deg);
    
}

#orange_corner {
 	top: 0;
    left: -745px;
    width: 777px;
    height: 667px;
    background-color: #FD9502;
    position: absolute;
    -ms-transform: skewX(-8deg);
    -webkit-transform: skewX(-8deg);
    transform: skewX(-8deg);
    
}

.btn-success-a.btn-outline {
    color: #FFFFFF;
    border-width: 2px;
}

.btn-success-a:hover,
.btn-success-a:focus,
.btn-success-a:active,
.btn-success-a.active,
.open .dropdown-toggle.btn-success_a {
    background-color: #1F3087;
    border-color: #1F3087;
    color: #FFFFFF;
}
.hvr-grow-a{
	display:inline-block;
	vertical-align:middle;
	background-color:#1F3087;
	-webkit-transform:translateZ(0);
	transform:translateZ(0);
	box-shadow:0 0 1px rgba(0,0,0,0);
	-webkit-backface-visibility:hidden;
	backface-visibility:hidden;
	-moz-osx-font-smoothing:grayscale;
	-webkit-transition-duration:.3s;
	transition-duration:.3s
	;-webkit-transition-property:transform;
	transition-property:transform
}
.btn-a {
    display: inline-block;
    margin-bottom: 0;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 10px 90px;
    font-size: 20px;
    color: #fff;
    font-style: italic;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* #blue_corner {
 	top: 55px;
    left: 97%;
    width: 250px;
    height: 702px;
    background-color: #1f3087;
    position: absolute;
    -ms-transform: skewX(-8deg);
    -webkit-transform: skewX(-8deg);
    transform: skewX(-8deg);
} */

#blue_corner {
    top: 0;
    left: 97%;
    width: 120px;
    height: 702px;
    background-color: #1f3087;
    position: absolute;
    -ms-transform: skewX(-8deg);
    -webkit-transform: skewX(-8deg);
    transform: skewX(-8deg);
}

.row {
    margin-right: -10px;
    margin-left: -10px;
}

.form-control-a {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 18px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

form_bkg {
    background: #FFF;
    top: 22px;
    left: 31px;
    width: 426px;
    height: 320px;
    position: absolute;
    overflow: hidden;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

body .container.body .right_col1 {
    background: #01CF91;
   /*  background-image: url("/images/bg.jpg"); */
   	background-repeat: no-repeat;
   	width:auto;
   	height:700px;
   	padding:0px;
}
 
body .container.body .right_col2 {
    background: #DE2461;
   /*  background-image: url("/images/bg.jpg"); */
   	background-repeat: no-repeat;
   	width:auto;
   	height:700px;
}